<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>127442782339-diunijq3s5pjg9q73ku7u998r1t5p73h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127442782339-diunijq3s5pjg9q73ku7u998r1t5p73h</string>
	<key>API_KEY</key>
	<string>AIzaSyCb1xF0JIgConUAOxyJGQftj6eWp7S83QE</string>
	<key>GCM_SENDER_ID</key>
	<string>127442782339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thornaci.SteemitApp</string>
	<key>PROJECT_ID</key>
	<string>steem-tracker-80fba</string>
	<key>STORAGE_BUCKET</key>
	<string>steem-tracker-80fba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127442782339:ios:240197f8433b218c</string>
	<key>DATABASE_URL</key>
	<string>https://steem-tracker-80fba.firebaseio.com</string>
</dict>
</plist>