//
//  Development.xcconfig
//  SteemitApp
//
//  Created by Burak Tayfun on 2/12/18.
//  Copyright © 2018 Burak Tayfun. All rights reserved.
//

#include "Pods/Target Support Files/Pods-SteemitApp/Pods-SteemitApp.debug.xcconfig"

AD_UNIT_ID_FOR_BANNER_TEST = ca-app-pub-3940256099942544/2934735716
AD_UNIT_ID_FOR_INTERSTITIAL_TEST = ca-app-pub-3940256099942544/4411468910
CLIENT_ID = 36907961024-2tjf1g0j4l9lacn3u1bbh71rrln27es6.apps.googleusercontent.com
REVERSED_CLIENT_ID = com.googleusercontent.apps.36907961024-2tjf1g0j4l9lacn3u1bbh71rrln27es6
API_KEY = AIzaSyAZcWB8Molygs9pY7d1hgaA_0VG-EhdcEs
GCM_SENDER_ID = 36907961024
PROJECT_ID = steem-tracker-d1be7
STORAGE_BUCKET = steem-tracker-d1be7.appspot.com

GOOGLE_APP_ID = 1:36907961024:ios:240197f8433b218c
DATABASE_URL = https:\/\/steem-tracker-d1be7.firebaseio.com
